.modal-centro {
    width: 98.8%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.543);
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    align-items: center;
    display: flex;
    z-index: 100;
}

.modal {
    align-items: center;
    background-color: var(--white);
    width: 28%;
    padding: 2%;
    border-radius: 5px;
}

.modal h2 {
    margin: 2% 0 5% 0 !important;
    font-size: 3vh;
    z-index: 10;
    font-weight: 400;
}

.modal h4 {
    margin: 0% !important;
    font-weight: 500;
    color: var(--grey-dark);
}

.modal .h4-topo {
    margin-top: 5% !important;
}

.on-off {
    align-items: center;
    display: flex;
}

.on-off input {
    width: 5% !important;
    height: 5%;
    background-color: var(--blue-dark);
}

.on-off span {
    padding: 0% !important;
    margin-right: 10%;
}

.div-deu-certo h3 {
    margin: auto;
}

.button-modal {
    width: 35%;
    margin: 0;
}

.modal form {
    width: 100%;
}

.modal input {
    width: 99%;
    height: 5vh;
    background: none;
    font-family: var(--font-defaut);
    font-size: 0.9rem;
    color: var(--grey-dark);
    outline: 0;
    border: solid var(--blue-dark) 0px;
    background-color: var(--grey-one);
    margin-bottom: 5%;
}

.modal input:last-child {
    margin-bottom: 10%;
}

.input-lado {
    width: 48%;
    float: left;
}

.a {
    padding-left: 4%;
}

.btn-close {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    font-size: 100%;
    font-weight: bold;
    display: flex;
    color: var(--dark-grey);
    z-index: 1000;
    position: relative;
}

.modal input::placeholder {
    font-weight: 350;
    color: var(--grey-two) !important;

}

.input-editar {
    cursor: not-allowed;
    color: var(--grey-three) !important;
}

[data-tooltip] {
    position: relative;
    font-weight: bold;
}

[data-tooltip]:after {
    font-weight: 50;
    font-size: 13px;
    display: none;
    position: absolute;
    top: -34px;
    padding: 8px;
    border-radius: 3px;
    left: calc(-130% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: var(--blue-dark);
    color: var(--grey-one);
}

[data-tooltip]:hover:after {
    display: block;
}

/* Mensagem de retorno ao cadastro */

.div-deu-certo {
    align-items: center;
    height: 7vh;
    width: 65vh;
    background-color: rgb(67, 214, 123);
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 2% 0 0 34.5%;
    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    position: absolute;
    display: flex;
    z-index: 101;
}

.div-deu-certo button {
    border-radius: 7px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 100%;
    float: right;
    color: var(--white);
}

.div-deu-erro {
    align-items: center;
    height: 7vh;
    width: 65vh;
    background-color: rgb(214, 67, 67);
    text-align: center;
    color: var(--white);
    border-radius: 10px;
    margin: 1% 0 0 34%;
    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    display: flex;
    z-index: 101;
}

.div-deu-erro button {
    color: var(--white);
}

.div-deu-erro h3 {
    margin: auto;
}

.centralizar {
    text-align: center;
    padding: 10%;
}

.cadastro-equipamento input {
    margin: 0 !important;
}

.cadastro-equipamento span {
    font-weight: 400;
    font-size: 90%;
    line-height: 31px;
}

.cadastro-equipamento .button-top {
    padding-top: 5%;
}